#AddForm {
    background-color: rgba(150, 132, 229, 0.9);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
    width: 50%;
    min-height: 60vh;
    margin: auto;
    border-radius: 5px;
}

#form {
    width: 40%;
    height: 80%;
    margin: auto;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.recipeText {
    border-radius: 5px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: grey;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
}

.recipeText:focus {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
}

.recipeText::placeholder{
    font-family: 'Signika', sans-serif;
    font-size: 16px;
}

#submitBtn{
    background-color: #02558d;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 20px;
    outline: none;
    font-family: 'Sansita Swashed', cursive;
}