.navDiv{
    background-color: #9684e5;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    height: 40px;
    padding: 10px 50px;    
    align-items: center;
    box-shadow: 0 4px 20px -2px  #383838;
}
.navList{
    width: 25%;
    margin-left: auto;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
}

.link{
    text-decoration: none;
    color: #ffffff;
    height: 100%;
    font-size: 1.17em; 
    font-weight: bolder;
}

.link:hover{
    text-shadow: 2px 2px 15px #ffffff;
}

.logo{
    height: 100%;
    display: flex;
    text-align: center;
    width: 30%;
    justify-content: space-evenly;
}

.logo img{
    height: 100%;
}

.logo h2{
    margin-top: 0;
    height: 100%;
    color: white;
}